---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M6S">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import type { RoleType } from '@/lib/role'

  import { Role } from '@/pixi/role'
  import { getScale, YmToPx } from '@/pixi/scale'
  import { setWaymark } from '@/pixi/waymark'
  import { $stratBoards } from '@/stores/stratBoards'

  import { waymarkData } from '../_waymark'

  import floor_img from '/assets/07/m6s/layer_4/floor_1@3x.png?url'
  import arrow_img from '/assets/07/m6s/layer_4/solution_3_arrow@2x.png?url'
  import fan_45_img from '/assets/fan/45_y20@3x.png?url'
  import stack_omen_img from '/game/vfx/lockon/eff/com_share4a1@3x.png?url'

  const name = 'solution_3'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale())
    container.addChild(floor)

    const waymarks = await setWaymark(container, waymarkData, 0.65)
    waymarks.get('B')!.alpha = 0.5
    waymarks.get('One')!.alpha = 0.4
    waymarks.get('Two')!.alpha = 0.4
    waymarks.get('Three')!.alpha = 0.5
    waymarks.get('Four')!.alpha = 0.25

    const squareMask = new Graphics()
    const width = 46.4 * YmToPx // 46.4
    squareMask.rect(-width / 2, -width / 2, width, width)
    squareMask.fill({ color: 'white' })
    container.mask = squareMask
    container.addChild(squareMask)

    const bossPosition = { x: -1.6, y: 13.5 }
    const roleParams: { type: RoleType; tag: string; x: number; y: number }[] = [
      { type: 'tank', tag: 'MT', x: bossPosition.x - 3, y: bossPosition.y },
      { type: 'tank', tag: 'ST', x: bossPosition.x + 3, y: bossPosition.y },
      { type: 'melee', tag: 'D1', x: bossPosition.x - 1.2, y: bossPosition.y + 2.75 },
      { type: 'melee', tag: 'D2', x: bossPosition.x + 1.2, y: bossPosition.y + 2.75 },
      { type: 'healer', tag: 'H2', x: -17.5, y: -4 },
      { type: 'magic', tag: 'D4', x: -19, y: -5 },
      { type: 'ranged', tag: 'D3', x: 19, y: 5 },
      { type: 'healer', tag: 'H1', x: 18, y: 3.5 },
    ]

    const stackOmenParams = [roleParams[5], roleParams[6]]

    const stackOmenTexture = await Assets.load(stack_omen_img)
    stackOmenParams.forEach((r) => {
      const stackOmen = Sprite.from(stackOmenTexture)
      stackOmen.anchor.set(0.5, 0.5)
      stackOmen.position.set(r.x * YmToPx, r.y * YmToPx)
      stackOmen.scale.set(getScale() * 0.6)
      container.addChild(stackOmen)
    })

    const fan_45_texture = await Assets.load(fan_45_img)
    const fanParams = [roleParams[0], roleParams[1], roleParams[2], roleParams[3]]
    fanParams.forEach((r) => {
      const fan = Sprite.from(fan_45_texture)
      fan.pivot.set(0, (-20 / getScale()) * YmToPx)
      fan.anchor.set(0.5, 0.5)
      fan.scale.set(getScale() * (Math.tan((Math.PI / 180) * 20) / Math.tan((Math.PI / 180) * 22.5)), getScale())
      fan.position.set(bossPosition.x * YmToPx, bossPosition.y * YmToPx)
      fan.rotation = Math.atan2(r.y - bossPosition.y, r.x - bossPosition.x) - Math.PI / 2
      container.addChild(fan)
    })

    const arrowTexture = await Assets.load(arrow_img)
    const arrow = Sprite.from(arrowTexture)
    arrow.anchor.set(0.5, 0.5)
    container.addChild(arrow)

    roleParams.forEach((r) => {
      const role = new Role(r.type, r.tag)
      role.scale.set(0.4)
      role.position.set(r.x * YmToPx, r.y * YmToPx)
      container.addChild(role)
    })

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
