---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M7S">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, BlurFilter, Container, Graphics, Sprite } from 'pixi.js'

  import { getScale, YmToPx } from '@/pixi/utils'
  import { $stratBoards } from '@/stores/stratBoards'

  import floor_img from '/assets/07/m7s/floor_p1_1@3x.png?url'

  const name = 'explosion1'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale())
    container.addChild(floor)

    // await setWaymark(container, waymarkData, 0.65)

    const squareMask = new Graphics()
    const width = 46.4 * YmToPx
    squareMask.rect(-width / 2, -width / 2, width, width)
    squareMask.fill({ color: 'white' })
    container.mask = squareMask
    container.addChild(squareMask)

    const omenParams = [
      { x: 0, y: -16 },
      { x: -13.86, y: 8 },
      { x: 13.86, y: 8 },
    ]

    function drawProxCircle(pos: { x: number; y: number }, radius = 3, color = 0xff6a00) {
      const cx = pos.x * YmToPx
      const cy = pos.y * YmToPx

      const filteredGraph = new Graphics()
      filteredGraph.circle(cx, cy, (radius - 0.9) * YmToPx)
      filteredGraph.fill(0xffaa33, 0.9)
      filteredGraph.filters = [new BlurFilter(3)]
      filteredGraph.endFill()

      const g = new Graphics()

      // Main circle
      g.setStrokeStyle({ width: 1, color })
      g.circle(cx, cy, radius * YmToPx)
      g.stroke()

      // Outer seg
      g.setStrokeStyle({ width: 3, color })
      const segmentCount = 4
      const arcLength = Math.PI / 3.5
      const gap = Math.PI / 2 - arcLength
      for (let i = 0; i < segmentCount; i++) {
        const start = i * (arcLength + gap)
        const end = start + arcLength
        const r = (radius + 0.3) * YmToPx
        const sx = cx + r * Math.cos(start)
        const sy = cy + r * Math.sin(start)
        g.moveTo(sx, sy)
        g.arc(cx, cy, r, start, end)
      }
      g.stroke()

      // Inner seg
      g.setStrokeStyle({ width: 1, color })
      const innerSegmentCount = 4
      const innerArcLength = Math.PI / 3.5
      const innerGap = Math.PI / 2 - innerArcLength
      for (let i = 0; i < innerSegmentCount; i++) {
        const start = i * (innerArcLength + innerGap)
        const end = start + innerArcLength
        const r = (radius - 0.2) * YmToPx
        const sx = cx + r * Math.cos(start)
        const sy = cy + r * Math.sin(start)
        g.moveTo(sx, sy)
        g.arc(cx, cy, r, start, end)
      }
      g.stroke()

      container.addChild(filteredGraph)
      container.addChild(g)
    }

    omenParams.forEach((p) => {
      drawProxCircle(p, 3)
    })

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
