---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M8S1">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" canvasClass="h-full w-full" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import type { RoleType } from '@/lib/role'

  import { AoE, AOE_PRESET } from '@/pixi/aoe'
  import { type CartesianCoordinates, scaleCoordinates } from '@/pixi/coordinates'
  import { Role } from '@/pixi/role'
  import { getScale, YmToPx } from '@/pixi/scale'
  import { setWaymark } from '@/pixi/waymark'
  import { $stratBoards } from '@/stores/stratBoards'

  import { createMaskTargetRing } from '../_target'
  import { waymarkData } from '../_waymark'

  import floor_img from '/assets/07/m8s1/floor_1@3x.png?url'
  import lockon_img from '/game/vfx/lockon/eff/lockon5_t0h@3x.png?url'

  const name = 'gust'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale(50, 0.78))
    container.addChild(floor)

    const bossPosition = { r: 0, deg: 0 }
    const bossRotation = 0

    const targetRing = await createMaskTargetRing(bossPosition, bossRotation)
    container.addChild(targetRing)
    const roleParams: { type: RoleType; tag: string; p: CartesianCoordinates }[] = [
      { type: 'tank', tag: 'MT', p: { x: -7.2, y: -8 } },
      { type: 'tank', tag: 'ST', p: { x: 7.2, y: -8 } },
      { type: 'healer', tag: 'H1', p: { x: -7.2, y: 8 } },
      { type: 'healer', tag: 'H2', p: { x: 7.2, y: 8 } },
      { type: 'dps', tag: '', p: { x: -7.5, y: 0 } },
      { type: 'dps', tag: '', p: { x: 7.5, y: 0 } },
    ]

    const aoe = AoE.createCircles(
      app,
      [
        { position: roleParams[0].p },
        { position: roleParams[1].p },
        { position: roleParams[2].p },
        { position: roleParams[3].p },
      ],
      5,
      AOE_PRESET.lockon_circle_aoe_1,
    )
    container.addChild(aoe)

    await setWaymark(container, waymarkData, 0.65)

    roleParams.forEach((r) => {
      const role = new Role(r.type, r.tag)
      role.scale.set(0.4 * 0.78)
      role.position = scaleCoordinates(r.p, YmToPx)
      container.addChild(role)
    })

    const lockonTexture = await Assets.load(lockon_img)
    roleParams.slice(0, 4).forEach((r) => {
      const lockon = new Sprite(lockonTexture)
      lockon.anchor.set(0.5, 0.5)
      lockon.position.set(r.p.x * YmToPx, (r.p.y - 2.25 * 0.78) * YmToPx)
      lockon.scale.set(0.4 * 0.78)
      container.addChild(lockon)
    })

    const circleMask = new Graphics()
    const circleRadius = 15.1 * YmToPx
    circleMask.circle(0, 0, circleRadius)
    circleMask.fill({ color: 'white' })
    container.mask = circleMask
    container.addChild(circleMask)

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
