---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M5S">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import { Role } from '@/pixi/role'
  import { getScale, YmToPx, YmToPxMap } from '@/pixi/scale'
  import { setWaymark } from '@/pixi/waymark'
  import { $stratBoards } from '@/stores/stratBoards'

  import { waymarkData } from '../_waymark'

  import floor1_img from '/assets/07/m5s/floor_1@3x.png?url'
  import floor2_img from '/assets/07/m5s/floor_2@3x.png?url'
  import rect_8x32_img from '/assets/rect/8x32_y16_light@3x.png?url'

  const name = '35_3'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor1_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale())
    container.addChild(floor)

    const floorWithTargetCircleTexture = await Assets.load(floor2_img)
    const floorWithTargetCircle = Sprite.from(floorWithTargetCircleTexture)
    floorWithTargetCircle.anchor.set(0.5, 0.5)
    floorWithTargetCircle.scale.set(getScale())
    container.addChild(floorWithTargetCircle)

    const circleMask = new Graphics()
    circleMask.circle(0, 0, 80)
    circleMask.fill({ color: 'white' })
    floorWithTargetCircle.mask = circleMask
    container.addChild(circleMask)

    await setWaymark(container, waymarkData, 0.5)

    const squareMask = new Graphics()
    const width = 40 * YmToPx
    squareMask.rect(-width / 2 + 0.01 * YmToPxMap[50], -width / 2 + 0.01 * YmToPxMap[50], width, width)
    squareMask.fill({ color: 'white' })
    container.mask = squareMask
    container.addChild(squareMask)

    const rect_8x32_texture = await Assets.load(rect_8x32_img)

    const h1_rect = Sprite.from(rect_8x32_texture)
    h1_rect.pivot.set(0, (16 / getScale()) * YmToPx)
    h1_rect.anchor.set(0.5, 0.5)
    h1_rect.scale.set(getScale())
    container.addChild(h1_rect)

    const h2_rect = Sprite.from(rect_8x32_texture)
    h2_rect.pivot.set(0, (16 / getScale()) * YmToPx)
    h2_rect.anchor.set(0.5, 0.5)
    h2_rect.scale.set(getScale())
    h2_rect.rotation = Math.PI
    container.addChild(h2_rect)

    const dot = new Graphics()
    dot.circle(-4.2 * YmToPx * Math.sin(Math.PI / 4), -4.2 * YmToPx * Math.cos(Math.PI / 4), 0.4 * YmToPx)
    dot.fill({ color: '#2563eb' })
    dot.stroke({ color: '#ffffff', width: 1 })
    dot.circle(0, -4.2 * YmToPx, 0.4 * YmToPx)
    dot.circle(0, 4.2 * YmToPx, 0.4 * YmToPx)
    dot.fill({ color: '#16a34a' })
    dot.stroke({ color: '#ffffff', width: 1 })
    dot.circle(-4.2 * YmToPx * Math.sin(Math.PI / 4), 4.2 * YmToPx * Math.cos(Math.PI / 4), 0.4 * YmToPx)
    dot.fill({ color: '#dc2626' })
    dot.stroke({ color: '#ffffff', width: 1 })
    container.addChild(dot)

    const H1 = new Role('healer', 'H1')
    H1.scale.set(0.4)
    H1.position.set(0, -5 * Math.SQRT2 * YmToPx)
    container.addChild(H1)

    const H2 = new Role('healer', 'H2')
    H2.scale.set(0.4)
    H2.position.set(0, 5 * Math.SQRT2 * YmToPx)
    container.addChild(H2)

    const T = new Role('tank')
    T.scale.set(0.4)
    T.position.set(-5 * Math.SQRT2 * YmToPx * Math.sin(Math.PI / 4), -5 * Math.SQRT2 * YmToPx * Math.cos(Math.PI / 4))
    container.addChild(T)

    const D = new Role('dps')
    D.scale.set(0.4)
    D.position.set(-5 * Math.SQRT2 * YmToPx * Math.sin(Math.PI / 4), 5 * Math.SQRT2 * YmToPx * Math.cos(Math.PI / 4))
    container.addChild(D)

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
