---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="高清地图">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" width={2160} height={2160} resolution={1} />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import { YmToPxMap } from '@/pixi/scale'
  import { $stratBoards } from '@/stores/stratBoards'

  // import floor_img from '/raw/m8s2/floor_6.png?url'
  import floor_img from '/assets/07/m8s2/floor_2@3x.png?url'

  const name = 'floor_6@3x'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    container.addChild(floor)

    const mask = new Graphics()
    for (let i = 0; i < 5; i++) {
      const r = (2 * i * Math.PI) / 5
      mask.circle(-17.54 * YmToPxMap[50] * Math.sin(r), 17.54 * YmToPxMap[50] * Math.cos(r), 8 * YmToPxMap[50])
    }
    mask.fill({ color: 'white' })
    container.mask = mask
    container.addChild(mask)

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 8
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
