---
import Layout from '@/layouts/Layout.astro'
import StratBoard from '@/components/StratBoard.astro'
---

<Layout title="M8S1">
  <div class="flex h-screen w-screen items-center justify-center">
    <StratBoard key="stratboard" canvasClass="h-full w-full" />
  </div>
</Layout>

<script>
  import { listenKeys } from 'nanostores'
  import { Assets, Container, Graphics, Sprite } from 'pixi.js'

  import type { RoleType } from '@/lib/role'

  import { AoE, AOE_COLORS } from '@/pixi/aoe'
  import { getAbsoluteCoordinates } from '@/pixi/coordinates'
  import { Role } from '@/pixi/role'
  import { getScale, YmToPx } from '@/pixi/scale'
  import { setWaymark } from '@/pixi/waymark'
  import { $stratBoards } from '@/stores/stratBoards'

  import { createFans } from '../_aoe'
  import { createMaskTargetRing } from '../_target'
  import { waymarkData } from '../_waymark'

  import floor_img from '/assets/07/m8s1/floor_1@3x.png?url'

  const name = '12'

  listenKeys($stratBoards, ['stratboard'], async (stratBoards) => {
    const app = stratBoards.stratboard

    const container = new Container()
    container.position.set(app.screen.width / 2, app.screen.height / 2)
    app.stage.addChild(container)

    const floorTexture = await Assets.load(floor_img)
    const floor = Sprite.from(floorTexture)
    floor.anchor.set(0.5, 0.5)
    floor.scale.set(getScale(50, 0.78))
    container.addChild(floor)

    const bossPosition = { r: 7.5, deg: -90 }
    const bossRotation = 180

    const aoe = createFans(
      app,
      [{ position: bossPosition, rotation: 90, options: { colors: AOE_COLORS.tailwind.red } }],
      40,
      120,
    )
    container.addChild(aoe)

    const fans = AoE.createFans(
      app,
      [
        {
          position: bossPosition,
          rotation: -135,
          angle: 60,
          options: { colors: AOE_COLORS.tailwind.blue },
        },
        {
          position: bossPosition,
          rotation: -45,
          angle: 60,
          options: { colors: AOE_COLORS.tailwind.blue },
        },
        {
          position: bossPosition,
          rotation: 10,
          angle: 30,
          options: { colors: AOE_COLORS.tailwind.green },
        },
        {
          position: bossPosition,
          rotation: 170,
          angle: 30,
          options: { colors: AOE_COLORS.tailwind.green },
        },
      ],
      40,
    )
    container.addChild(fans)

    await setWaymark(container, waymarkData, 0.65)

    const targetRing = await createMaskTargetRing(bossPosition, bossRotation)
    container.addChild(targetRing)

    const tankPositions = [
      { r: 4.5, deg: -135 },
      { r: 4.5, deg: -45 },
    ].map((v) => getAbsoluteCoordinates(v, bossPosition))

    const healerPositions = [
      { r: 6, deg: 170 },
      { r: 6, deg: 10 },
    ].map((v) => getAbsoluteCoordinates(v, bossPosition))

    const roleParams: { type: RoleType; tag: string; x: number; y: number }[] = [
      { type: 'tank', tag: 'MT', x: tankPositions[0].x, y: tankPositions[0].y },
      { type: 'tank', tag: 'ST', x: tankPositions[1].x, y: tankPositions[1].y },
      { type: 'healer', tag: 'H1', x: healerPositions[0].x, y: healerPositions[0].y },
      { type: 'healer', tag: 'H2', x: healerPositions[1].x, y: healerPositions[1].y },
    ]
    roleParams.forEach((r) => {
      const role = new Role(r.type, r.tag)
      role.scale.set(0.4 * 0.78)
      role.position.set(r.x * YmToPx, r.y * YmToPx)
      container.addChild(role)
    })

    const circleMask = new Graphics()
    const circleRadius = 15.1 * YmToPx
    circleMask.circle(0, 0, circleRadius)
    circleMask.fill({ color: 'white' })
    container.mask = circleMask
    container.addChild(circleMask)

    // take screenshot
    await new Promise((resolve) => setTimeout(resolve, 1000))
    const url = await app.renderer.extract.base64(app.stage)
    const screenshot = document.createElement('a')
    document.body.append(screenshot)
    screenshot.style.position = 'fixed'
    screenshot.style.top = '20px'
    screenshot.style.right = '20px'
    screenshot.download = name
    screenshot.href = url
    const image = new Image()
    image.width = app.screen.width / 4
    image.src = url
    screenshot.innerHTML = image.outerHTML
  })
</script>
